
.currency-main{
    display: flex;
    flex-direction: column;
    margin: 50px 250px;
}

.currency-input{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

input{
    padding:0 15px;
    height: 50px;
    border-radius: 10px;
}

select{
    padding: 0 10px;
    height: 50px;
    border-radius: 10px; 
}
option{

}

.select{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.convert{
    align-self: flex-end;
    margin-top: 50px;
    background-color: teal;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid teal;
}

.rate-exchange{
    margin: 50px;
    padding: 20px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction:column;
    align-items: center;
    border-radius: 10px;
}

.base-rate{
    margin: 0 20px;
    font-size: 25px;
}

.exchanged-rate{
    margin: 0 20px;
}